<div class="col-xs-1 col-sm-6 col-md-6 col-lg-4">
  <div class="card-recipe-cp">
    Name: {{@recipe.name}} <br><br>
    Number of servings: {{@recipe.numberServings}} <br>
    Cooking Time: {{@recipe.cookingTime}} <br>
    <br>
    <button class="btn btn-danger btn-sm" {{on "click" (fn this.removeRecipe @recipe)}}>Remove</button>
    <button class="btn btn-info btn-sm" {{on "click" (fn this.editRecipe @recipe)}}>Edit</button>
    <button class="btn btn-success btn-sm" {{on "click" (fn this.editRecipe @recipe)}}>View</button>
  </div>
</div>