<div class="col-xs-1 col-sm-6 col-md-6 col-lg-4">
  <div class="card-recipe-cp">
    <p><b>Name:</b> {{@recipe.name}}</p>
    <p><b>Number of servings:</b> {{@recipe.numberServings}}</p>
    <p><b>Cooking Time:</b> {{@recipe.cookingTime}}</p>
    <p><b>Steps:</b> {{@recipe.steps.length}}</p>
    <button class="btn btn-danger btn-sm" {{on "click" (fn this.removeRecipe @recipe)}}>Remove</button>
    <button class="btn btn-info btn-sm" {{on "click" (fn this.editRecipe @recipe)}}>Edit</button>
    <button class="btn btn-success btn-sm" {{on "click" (fn this.viewRecipe @recipe)}}>View</button>
  </div>
</div>